<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{{ config["title"] }}</title>
	<script src="static/index.js" type="text/javascript"></script>
	<link href="static/index.css" rel="stylesheet" />
</head>

<body>
	<div id="app-container">
		<h1 style="color: blue">{{ config["title"] }}</h1>
		<h2>Big Boy Stream Infrastructure</h2>
        <div id="error">
            {% if '' == config["root"] %}
            Your root directory is not configured. Please go to the host machine and add a root directory to the config.json file.
            {% endif %}
        </div>
		<div id="config-container">
		    <form id="fields" method="POST" action="/update" >
            {% for file in config["files"] %}
            <div class="config-item">
                <div class="config-move">
                    <img class="pointer" src="../static/icons/move_up_black_24dp.svg" onclick="moveUp('{{file["name"]}}')"/>
                    <img class="pointer" src="../static/icons/move_down_black_24dp.svg" onclick="moveDown('{{file["name"]}}')"/>
                </div>
                    <div class="config-label">
                        <label for="{{file["name"]}}">{{file["label"]}}</label>
                    </div>
        			<div class="config-field">
        			    {% if file["type"] == "int" %}
                            <input type="button" id="dec{{file["name"]}}" onclick="decrement('{{file["name"]}}')" value="-" />
                            <input type="number" name="{{file["name"]}}" id="{{file["name"]}}" value="{{file["value"]}}"/>
                            <input type="button" id="inc{{file["name"]}}" onclick="increment('{{file["name"]}}')" value="+" />
            			{% endif %}
            			{% if file["type"] == "string" %}
            			<input type="text" name="{{file["name"]}}" id="{{file["name"]}}" value="{{file["value"]}}"/>
            			{% endif %}
            			{% if file["type"] == "multiline" %}
            			<textarea name="{{file["name"]}}" id="{{file["name"]}}" >{{file["value"]}}</textarea>
            			{% endif %}
        			</div>
                    <div class="config-actions">
                        <img class="pointer" src="../static/icons/settings_black_24dp.svg" onclick="toggleDetails('{{file["name"]}}')"/>
                        <img class="pointer" src="../static/icons/delete_black_24dp.svg" onclick="deleteFile('{{file["name"]}}')"/>
                    </div>
                    <br />
                    <div class="details" id="details-{{file["name"]}}">
                        <label for="fileName-{{file["name"]}}">File Name:</label>
                        <input type="text" name="fileName-{{file["name"]}}" value="{{file["path"]}}"/><br />
                        <label for="label-{{file["name"]}}">File Label:</label>
                        <input type="text" name="label-{{file["name"]}}" value="{{file["label"]}}"/><br />
                        <label for="fileName-{{file["name"]}}">System File Name:</label>
                        <input type="text" name="name-{{file["name"]}}" value="{{file["name"]}}"/>
                    </div>
                    <br />
            </div>
    		{% endfor %}
    		<input type="submit" value="update" />
            </form>
            <div id="add-field">
                <h3>Add a field</h3>
                <form id="new-field" method="POST" action="/add">
                    <label for="type">File Type</label>
                    <select id="new-field-type" name="type">
                        <option name="number">int</option>
                        <option name="string">string</option>
                        <option name="multiline">multiline</option>
                    </select><br />
                    <label for="name">File Name</label>
                    <input type="text" name="name" id="new-field-name"/>
                    <input type="submit" value="Add field" />
                </form>
            </div>
            <div id="save-config">
                <button id="save" onclick="saveConfig()" value="Save Configuration">Save Configuration</button> 
            </div>
            <form action="/download">
                <input type="submit" value="Download config JSON" />
            </form>
            
		</div>
	</div>
</body>

</html>