<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>IHOP Scoreboard</title>
  <script src="static/index.js" type="text/javascript"></script>
</head>

<body>
  <h1 style="color: blue">IHOP Scoreboard :)</h1>
  <p>Big Boy Stream Infrastructure</p>
  Team A Name:
  <input type="text" id="teamA" />
  <input type="button" onClick="updateTeamA()" value="update"/>
  <br />
  Team A Score:
  <input type="text" id="scoreA" />
  <input type="button" onclick="updateScoreA()" value="update"/>
  <br /><br />
  Team B Name:
  <input type="text" id="teamB" />
  <input type="button" onClick="updateTeamB()" value="update"/>
  <br />
  Team B Score:
  <input type="text" id="scoreB" />
  <input type="button" onclick="updateScoreB()" value="update"/>

</body>

</html>
