<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="static/scoreboard.css" rel="stylesheet" />
    </head>
    <div id="scorebar">
        <!-- <div class="outline" id="team1">team 1</div>
        <div class="outline" id="score1">0</div>
        <div class="outline" id="score2">0</div>
        <div class="outline" id="team2">team 2</div> -->
        <svg viewBox="0 0 1280 56">
            <text class="outline" id="team1" x="0" y="56">Fit Me</text>
            <text class="outline" id="team2" x="1280" y="56">Fit Me</text>
            <text class="outline" id="score1" x="" y="56">Fit Me</text>
            <text class="outline" id="score2" x="0" y="56">Fit Me</text>
        </svg>
    </div>
</html>