#app-container {
    max-width: 800px;
    height: 100%;
    padding: 20px;
    margin: auto;
    background-color: #ffffff;
}

#config-container {
    display:flex;
    flex-direction: column;
}

.config-item {
    margin:auto;
    width: 50%;
}

body {
    background-color: #000000;
    height: 100%;
}

h1, h2 {
    text-align: center;
}

#error {
    color:red;
}

.details {
    display: none;
}

.pointer {
    cursor: pointer;
}