#app-container {
    max-width: 800px;
    height: 100%;
    padding: 20px;
    margin: auto;
    background-color: #ffffff;
}

#config-container {
    display: flex;
    flex-direction: column;
}

.config-item {
    display:grid;
    grid-template-columns: 10% 20% 50% 20%;
    padding: 10px;
}

.config-move {
    grid-column-start: 1;
}

.config-label {
    grid-column-start: 2;
}

.config-field {
    grid-column-start: 3;
    grid-column-end: 4;
}

.config-actions {
    grid-column-start: 4;
}


.config-item {
    margin:auto;
    width: 50%;
    background-color:lightblue;
}

body {
    background-color: #000000;
    height: 100%;
}

label {
    font-weight:bold;
}

h1, h2 {
    text-align: center;
}

#error {
    color:red;
}

.details {
    display: none;
    background-color:lightgoldenrodyellow;
}

.pointer {
    cursor: pointer;
}